@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');
*,*::before,*::after,body{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'ABeeZee', sans-serif !important;
    background: black;
    /* height: 10000px; */
}
html{
    scroll-behavior: smooth;
}
:root{
    --main-color:#BD9B60;
    --maine_product:white;
    /* #BD9B60 - iColorpalette */
}
.bg-custom{
    color: var(--main-color) !important;
}
.image{
    width: 200px;
    height:80px;
}
.navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link{
    color: white;
    font-family: "Merienda One", cursive !important;
    font-size: 22px !important;
}
.heading{
    font-family: "Merienda One", cursive !important;
    font-size: 50px;
    color: var(--main-color);
}
@media (max-width:992px) {
    .heading{
        font-size: 33px;
    }
}
.mt-6{
    margin-top: 150px;
}
.navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link:hover{
    color: var(--main-color) !important;
}
.navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .active{
    color: var(--main-color) !important;
    position: relative;
    transition: 0.5s all;
    /* -webkit-text-stroke: 0.6px white; */
}
.navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .active::before{
    content: "";
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--main-color);
}
.landing{
    height: 75vh !important;
}
.imag{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.coverage{
    background: black !important;
    border-radius: 50%;
    color: white !important;
}
.text-white_cur{
    font-size: 20px;
}
.carousel-indicators [data-bs-target]{
    background-color:var(--main-color) !important;
}
.carousel-control-next, .carousel-control-prev{
    color: white !important;
}
.carousel-control-next:hover .text-white_cur, .carousel-control-prev:hover .text-white_cur{
    color: var(--main-color) !important;
    /* filter: invert(77%) sepia(12%) saturate(1654%) hue-rotate(352deg) brightness(84%) contrast(79%); */
}
.carousel-control-next:hover .img-white_cur, .carousel-control-prev:hover .img-white_cur{
    /* color: var(--main-color) !important; */
    filter: invert(77%) sepia(12%) saturate(1654%) hue-rotate(352deg) brightness(84%) contrast(79%);
}
.con{
    background: #000;
    border-top-right-radius:25px;
    border-bottom-right-radius: 25px;
    position: absolute;
    left: 0;
}
.carousel-control-prev:hover .con{
    opacity: 0.6; 

}
.con-next{
    background: #000;
    border-top-left-radius:25px;
    border-bottom-left-radius: 25px;
    position: absolute;
    right: 0;
}
.carousel-control-next:hover .con-next{
    opacity: 0.6; 
}
.landing{
    position: relative;
    z-index:1;
}
.sv{
    position: absolute;
    width: 100%;
    bottom: -101px;
    z-index: -1;
}
@media (max-width:992px) {
    .sv{
        bottom: -4%;
    }
}
.w-10{
    width: 14%;
    margin: auto;
}
@media (max-width:992px) {
    .w-10{
        width: 35%;
    }
}
.services_frame{
    position: relative;
    stroke-width: 12px;
    fill: transparent;
    stroke: #a8743b;
    transition: all 500ms ease;
    cursor: pointer;
}
.services_frame .images{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 75%;
    height: 75%;
}
.w-20{
    width: 23%;
}
@media (max-width:992px) {
    .w-20{
        width: 70%;
    }
}
.text_custom{
    color: var(--main-color);
}
@media (max-width:992px) {

}
.om{
    /* background: white; */
    filter: invert(65%) sepia(50%) saturate(333%) hue-rotate(359deg) brightness(88%) contrast(92%);
}
.services_frame .om{
    width: 100%;
    height: 100%;
    /* background: white; */
}
.services_frame:hover .om{
    /* background: white; */
    animation-name: animatied;
    animation-duration: 3.4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.slid-1{
    background-image: url('./images/slid-1.jpg');
    background-size: cover;
}
.slid-2{
    background-image: url('./images/slide-2.jpg');
    background-size: cover;
}
.slid-3{
    background-image: url('./images/slide-3.jpg');
    background-size: cover;
}
.text_pos{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.pos_content:hover .om{
    animation-name: animatied;
    animation-duration: 3.4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes animatied {
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}
.color_gold{
    color: var(--main-color);
}
.w-20-custom{
    width: 17%;
}
@media (max-width:992px) {
    .w-20-custom{
        width: 40%;
    }
}
.mb-6{
    margin-bottom: 150px;
}
.rounded-custom{
    border-radius: 50%;
}
.rounded-custom i{
    font-size: 30px;
}
.face{
    color: blue;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 27px;
}
.insta{
    /* color:#bc2a8d; */
    color:#8a3ab9;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 27px;
}
.w-20-link-custom{
    width: 80px;
}
#to_toping{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 10px;
    border-radius: 50%;
    background: var(--main-color);
    font-size: 22px;
    color: white;
    cursor: pointer;
}
#wats{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 30px;
    left: 20px;
    border-radius: 50%;
    font-size: 60px;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.de{
    text-decoration: none;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wTS-COLOR{
    color: green;
}
.mb-cur{
    margin-bottom: unset;
}
@media (max-width:992px) {
    .mb-cur{
        margin-bottom: 150px;
    }
}
#setting{
    position: fixed;
    width: 50px;
    height: 50px;
    top: 15vh;
    left: 0;
    /* border-radius: 50%; */
    font-size: 60px;
    color: black;
    background: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    font-size: 28px;
    box-shadow: 0 0 8px 0 #000;
}